<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .colors-about{
  background: transparent;
  font-size:70px;
  font-weight: bolder;
  color: white;
  text-align: center;
  box-shadow: 0 5px 15px white;
  font-family:initial;
  animation: move 5s linear infinite;
}
@keyframes move{
0%{color: #cd3333;}
10%{color: #2c3895;}
20%{color: #00ff99;}
30%{color: aqua;}
40%{color: #00ff51;}
50%{color: aqua;}
60%{color: #ff00f2;}
70%{color: #9cf5f5;}
80%{color: rgb(190, 82, 229);}
80%{color: #aeff00;}
100%{color: #175c59;}
}
    </style>
</head>
<body>
    <h1 class="colors-about" style="color: cadetblue; display: flex; position: fixed; top: 38%; right: 50%; transform: translate(50%); ">This is my about page</h1>
</body>
</html>